<ul id="slide-out" class="side-nav fixed">
  <div class="menu-header">
    <img class="responsive-img" style="width: 250px;" src="/assets/restful.gif"/>
  </div>
  <li><a routerLink="">Dashboard</a></li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">Rotas</a>
        <div class="collapsible-body">
          <ul>
            <li><a routerLink="all-route">Todas as Rotas</a></li>
            <li><a routerLink="new-route">Nova Rota</a></li>
            <li><a href="#!">Funções</a></li>
            <li><a href="#!">Nova Função</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">Usuario</a>
        <div class="collapsible-body">
          <ul>
            <li><a href="#!">Todas os Usuarios</a></li>
            <li><a href="#!">Novo Usuario</a></li>
            <li><a href="#!">Autenticação</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <li class="no-padding">
    <ul class="collapsible collapsible-accordion">
      <li>
        <a class="collapsible-header">Drivers</a>
        <div class="collapsible-body">
          <ul>
            <li><a href="#!">Todas os Drivers</a></li>
            <li><a href="#!">Novo Driver</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>
  <div class="buysellads-header center-on-small-only bottom-sheet" style="position: absolute; bottom: 5%">
    <p class="center">Help the project</p>
    <p class="center"><a href="http://picpay.me/guiters">picpay.me/guiters</a></p>
    <img src="/assets/donate.png" class="responsive-img">
  </div>

</ul>
